@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<style>
    .imgbaohanh{
        display:flex;
        align-items:center;
        margin: 5px 5px 5px 5px;
    }
    .sale {
        text-align:center;
        background-color:#00ff90;
        color:#ffffff;
    }
    .topnav {
        overflow: hidden;
        background-color: #ffffff;
        position: center;
        align-items: center;
        width: 1500px;
        height: 100px;
    }
    .content{
        display:flex;
        width:1000px;
    }
    .Search {
        height: 40px;
        width: 750px;

    }
    input, select, textarea {
        max-width: 500px;
    }
    .acc{
        display:inline;
        width:200px;
        margin-left:200px;

    }
    .list{
        list-style:none;
        display:inline-flex;
        width:9000px;
        text-align:left;
        margin-left:10px;
        padding:10px;

    }
    .sc {
        margin: 10px;
        margin-left: 10px;
        height: 40px;
        width: 1000px;
        display: flex;
    }
    .SearchButton{
        height:40px;
        width:70px;
        font-size:12px;

    }
    .Location {
        margin-left:200px;
    }
    .body{
        background-color:#bbbbbb;
        height:10000px;
    }
    .content{
        background-color:#ffffff;
    }
    .imgSP{
        display:flex;
        flex-direction: column;
        gap:8px;
        padding:0px 16px;
    }
    .khoangcach{
        gap:20px;
        margin: 10px 10px 10px 10px;
    }
    .stars {
        position: relative;
        white-space: nowrap;
        margin-left:10px;
    }

        .stars svg {
            width: 20px;
        }

    .overlay {
        background: #fff;
        height: 100%;
        overflow: hidden;
        mix-blend-mode: color;
        position: absolute;
        top: 0;
        right: 0;
    }

    svg {
        fill: gold;
    }
</style>
<html>
@*<-->header</-->*@
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <header>
        <div class="sale">
            Free đơn giá từ 45k, Giảm nhiều hơn cùng FREESHIP XTRA
        </div>
        <div class="content">
            <div href="Home">
                <img src="~/Content/img/logo.png" width="100" />
            </div>
            <div class="topnav">
                <div class="sc">
                    <input class="Search" type="text" placeholder="Search" />
                    <button class="SearchButton" >Tìm kiếm</button>
                    <div class="acc">
                        <a class="Home style="border-spacing:10px;"" href="~/Views/Shared/MasterLayout.cshtml"> Trang chủ</a>
                        <a class="Account" style="border-spacing:10px;"> Tài khoản</a>
                        <button class="ShoppingCart" style="border-spacing:10px;">
                            <img src="~/Content/img/pngtree-shopping-cart-convenient-icon-image_1287807.jpg" width="20" />
                        </button>
                    </div>
                </div>
                <ul class="list">
                    <li>điện gia dụng </li>
                    &emsp;
                    <li>xe cộ </li>
                    &emsp;
                    <li>mẹ & bé </li>
                    &emsp;
                    <li>khỏe đẹp </li>
                    &emsp;
                    <li>nhà cửa </li>
                    &emsp;
                    <li>sách </li>
                    &emsp;
                    <li>thể thao </li>
                    <div class="Location">
                        <a >
                            <img src="~/Content/img/pngtree-vector-location-icon-png-image_515424.jpg" width="20" />Giao đến :Q. 1, P. Bến Nghé, Hồ Chí Minh
                        </a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="content">
            <ul class="list">
                <hd>Cam kết</hd>
                <li>100% hàng thật</li>
                &emsp;
                <li>Hoàn 200% nếu hàng giả</li>
                &emsp;
                <li>30 ngày đổi trả</li>
                &emsp;
                <li>Giao nhanh 2h</li>
                &emsp;
                <li>Giá siêu rẻ</li>
                &emsp;
                <li>Freeship mọi đơn</li>
            </ul>
        </div>
    </header>
</head>
@*<-->end header</-->

<-->Body</-->*@
<body class="body">
    <div>
        breadcum
    </div>
    <div class="content">
        <div>
            <div class="khoangcach">
                <div class="imgSP">
                    <img src="~/Content/img/sua1.jpg" width="300" />
                    <div>
                        <img src="~/Content/img/sua2.jpg" width="40" />
                        <img src="~/Content/img/Sua_Glucerna.jpg" width="40" />
                    </div>
                </div>
                @*<div>
                    <header style="font-size=16px; color:#000000; font-weight:600; margin-left:20px;">Đặc điểm nổi bật</header>
                    <ul>
                    </ul>
                </div>*@
                <div>
                    <img src="~/Content/img/logo2.png" width="30" />
                    <a>xem thêm ưu điểm và lưu ý của sản phẩm</a>
                </div>
            </div>
        </div>
     </div> 
    <div class="content">
        <div>
            <div>
                <div>
                    <div class="imgbaohanh">
                        <img src="~/Content/img/chinhhang.png" width="70" />
                        <img src="~/Content/img/ngaudoitra.png" width="70" />
                        <img src="~/Content/img/topdeal.png" width="70" />
                    </div>
                    <div>
                        <a>Thương hiệu</a>
                        <a>Apple</a>
                        <h1 style="font-size:20px;">Lon sữa Glucerna 800g/lon - Tặng 2 gói dùng thử</h1>
                    </div>
                    <div style="display:flex;">
                        <div style="display:flex;">
                            <div style="margin-top:2px;">
                                5.0
                            </div>
                            <div class="stars">
                                <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                                </svg>
                                <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                                </svg>
                                <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                                </svg>
                                <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                                </svg>
                                <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                                </svg>
                                <div class="overlay" style="width: 37%"></div>
                            </div>
                            <a style="margin-top:2px; margin-left:10px;">
                                (10)
                            </a>
                        </div>
                        <div style="margin-top:2px; margin-left:50px;">
                            Đã bán 423
                        </div>
                    </div>
                    <div style="color:#808080; margin-top:10px;">Made in Spain</div>
                    <div style="display:flex; margin-top:10px;">
                        <h1 style="font-size:30px; color:red;">1.034.550</h1>
                        <sup style="top:0px;">đ</sup>
                    </div>
                    <div>Hương vị</div>
                    <div>
                        <ul style="list-style:none; margin-top:20px">
                            <li>
                                <button>Vani</button>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h1 style="font-size:20px;">Thông tin vận chuyển</h1>
                        <div style="display:flex;">
                            <div>
                                Giao đến Q. 1, P. Bến Nghé, Hồ Chí Minh
                            </div>
                            <span style="color:deepskyblue; margin-left:70px;">Đổi</span>
                        </div>
                        <div>
                            <div style="display:flex;">
                                <div>
                                    <img src="~/Content/img/car.png" width="20" />
                                </div>
                                <div style="margin-left:10px;">
                                    Giao Thứ Năm
                                </div>
                            </div>
                            <div>
                                Trước 19h, 10/10: Miễn phí 32.700₫
                            </div>
                            <div style="display:flex;">
                                <img src="~/Content/img/car2.png" width="20" />
                                <h1 style="font-size:15px;">
                                    Freeship 10k đơn từ 45k, Freeship 25k đơn từ 100k
                                </h1>
                                <img src="~/Content/img/i.png" width="20" />
                            </div>
                        </div>
                        <div>
                            <h1 style="font-size:15px;">
                                Dịch vụ bổ sung
                            </h1>
                            <div style="display:flex;">
                                <img src="~/Content/img/tikicard.png" width="30" />
                                <a>Ưu đãi đến 600k với thẻ TikiCard</a>
                                <span style="margin-left:50px;">Đăng kí</span>
                            </div>
                            <div style="display:flex;">
                                <img src="~/Content/img/topdeal.png" width="30" />
                                <a>Mua trước trả sau</a>
                                <span style="margin-left:50px;">Đăng kí</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="content">
            <div>
                <div>
                    <a>Tiki trading</a>
                    <div>
                        <span>4,7</span>
                        <svg width="20" height="20" viewBox="0 0 940.688 940.688">
                            <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                        </svg>
                        <div>
                            (5.5tr+ đánh giá)
                        </div>
                    </div>
                    <div style="display:flex;">
                        <img src="~/Content/img/sua1.jpg" width="20" />
                        <div>Vani</div>
                    </div>
                    <div>
                        <div>
                            số lượng
                        </div>
                        <div>
                            <button>-</button>
                            <input type="number" />
                            <button>+</button>
                        </div>
                        <div>
                            Tạm tính
                        </div>
                        <div>
                            <h1 style="font-size:30px; color:red;">1.034.550</h1>
                        </div>
                        <div style="display:flex;">
                            <button style="background-color:red; color:white; width:100px; height:40px;">
                                Mua ngay
                            </button>
                            <button style="background-color: white; color: blue; border-style: inset; border-color: blue; width: 100px; height: 40px;">
                                Thêm vào giỏ
                            </button>
                            <button style="background-color: white; color: blue; border-style: inset; border-color: blue; width: 100px; height: 40px;">
                                Mua trả góp - trả sau
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*<-->end body</-->*@

    <div>
        @RenderBody()
    </div>
</body>
@*<footer>
    FOOTER
</footer>*@
</html>
